[submodule "flutter-frontend"]
	path = flutter-frontend
	url = https://github.com/hansung-taeyang/flutter-frontend.git
[submodule "node-backend"]
	path = node-backend
	url = https://github.com/hansung-taeyang/node-backend.git
